@use './mediaquery.scss' as mediaquery;
@use './variables.scss' as variables;

// mixins
@mixin generate-utilities($map, $prefix, $property) {
  @each $key, $value in $map {
    .#{$prefix}-#{$key} {
      #{$property}: $value !important;
    }
  }
}

@mixin generate-spaces-utilities($prefix, $property) {
  @each $key, $value in variables.$spaces {
    .#{$prefix}-#{$key} {
      #{$property}: $value !important;
    }
    .#{$prefix}l-#{$key} {
      #{$property}-left: $value !important;
    }
    .#{$prefix}r-#{$key} {
      #{$property}-right: $value !important;
    }
    .#{$prefix}x-#{$key} {
      #{$property}-right: $value !important;
      #{$property}-left: $value !important;
    }
    .#{$prefix}t-#{$key} {
      #{$property}-top: $value !important;
    }
    .#{$prefix}b-#{$key} {
      #{$property}-bottom: $value !important;
    }
    .#{$prefix}y-#{$key} {
      #{$property}-top: $value !important;
      #{$property}-bottom: $value !important;
    }
  }
}

@mixin generate-breakpoint-utilities($map, $prefix, $property) {
  @each $breakpoint, $_ in mediaquery.$breakpoints {
    @each $key, $value in $map {
      .#{$breakpoint}\:#{$prefix}-#{$key} {
        @include mediaquery.mq($breakpoint) {
          #{$property}: $value !important;
        }
      }
    }
  }
}

@mixin generate-breakpoint-spaces-utilities($prefix, $property) {
  @each $breakpoint, $_ in mediaquery.$breakpoints {
    @each $key, $value in variables.$spaces {
      .#{$breakpoint}\:#{$prefix}-#{$key} {
        @include mediaquery.mq($breakpoint) {
          #{$property}: $value !important;
        }
      }
      .#{$breakpoint}\:#{$prefix}l-#{$key} {
        @include mediaquery.mq($breakpoint) {
          #{$property}-left: $value !important;
        }
      }
      .#{$breakpoint}\:#{$prefix}r-#{$key} {
        @include mediaquery.mq($breakpoint) {
          #{$property}-right: $value !important;
        }
      }
      .#{$breakpoint}\:#{$prefix}x-#{$key} {
        @include mediaquery.mq($breakpoint) {
          #{$property}-right: $value !important;
          #{$property}-left: $value !important;
        }
      }
      .#{$breakpoint}\:#{$prefix}t-#{$key} {
        @include mediaquery.mq($breakpoint) {
          #{$property}-top: $value !important;
        }
      }
      .#{$breakpoint}\:#{$prefix}b-#{$key} {
        @include mediaquery.mq($breakpoint) {
          #{$property}-bottom: $value !important;
        }
      }
      .#{$breakpoint}\:#{$prefix}y-#{$key} {
        @include mediaquery.mq($breakpoint) {
          #{$property}-top: $value !important;
          #{$property}-bottom: $value !important;
        }
      }
    }
  }
}

// color & background-color
@include generate-utilities(variables.$colors, 'text', 'color');
@include generate-utilities(variables.$colors, 'bg', 'background-color');

// font-size
@include generate-utilities(variables.$font-sizes, 'fs', 'font-size');

// font-weight
@include generate-utilities(variables.$font-weights, 'fw', 'font-weight');

// text-align
@include generate-utilities(variables.$text-directions, 'text', 'text-align');

// line-height
@include generate-utilities(variables.$line-heights, 'lh', 'line-height');

// visibility
@include generate-utilities(variables.$visibilities, 'v', 'visibility');

// display
@include generate-utilities(variables.$displays, 'd', 'display');

// position
@include generate-utilities(variables.$positions, 'ps', 'position');

// margin & padding
@include generate-spaces-utilities('m', 'margin');
@include generate-spaces-utilities('p', 'padding');

// gap
@include generate-utilities(variables.$spaces, 'g', 'gap');
@include generate-utilities(variables.$spaces, 'rg', 'row-gap');
@include generate-utilities(variables.$spaces, 'cg', 'column-gap');

// white-space
@include generate-utilities(variables.$white-spaces, 'ws', 'white-space');

// word-break
@include generate-utilities(variables.$word-breaks, 'wb', 'word-break');

// flex-direction
@include generate-utilities(
  variables.$flex-directions,
  'flex-direction',
  'flex-direction'
);

// flex-wrap
@include generate-utilities(variables.$flex-wraps, 'flex-wrap', 'flex-wrap');

// justify-content
@include generate-utilities(
  variables.$justify-content-positions,
  'justify-content',
  'justify-content'
);

// align-items
@include generate-utilities(
  variables.$align-items-positions,
  'align-items',
  'align-items'
);

// util
.flex-1 {
  flex: 1 !important;
}

.flex-shrink-0 {
  flex-shrink: 0 !important;
}

.w-100 {
  width: 100% !important;
}

.w-fit-content {
  width: fit-content !important;
}

.h-100 {
  height: 100% !important;
}

// breakpoints styles
@include generate-breakpoint-utilities(variables.$colors, 'text', 'color');
@include generate-breakpoint-utilities(
  variables.$colors,
  'bg',
  'background-color'
);
@include generate-breakpoint-utilities(
  variables.$font-sizes,
  'fs',
  'font-size'
);
@include generate-breakpoint-utilities(
  variables.$font-weights,
  'fw',
  'font-weight'
);
@include generate-breakpoint-utilities(
  variables.$text-directions,
  'text',
  'text-align'
);
@include generate-breakpoint-utilities(
  variables.$line-heights,
  'lh',
  'line-height'
);
@include generate-breakpoint-utilities(
  variables.$visibilities,
  'v',
  'visibility'
);
@include generate-breakpoint-utilities(variables.$displays, 'd', 'display');
@include generate-breakpoint-utilities(variables.$positions, 'ps', 'position');
@include generate-breakpoint-spaces-utilities('m', 'margin');
@include generate-breakpoint-spaces-utilities('p', 'padding');
@include generate-breakpoint-utilities(variables.$spaces, 'g', 'gap');
@include generate-breakpoint-utilities(variables.$spaces, 'rg', 'row-gap');
@include generate-breakpoint-utilities(variables.$spaces, 'cg', 'column-gap');
@include generate-breakpoint-utilities(
  variables.$white-spaces,
  'ws',
  'white-space'
);
@include generate-breakpoint-utilities(
  variables.$word-breaks,
  'wb',
  'word-break'
);
@include generate-breakpoint-utilities(
  variables.$flex-directions,
  'flex-direction',
  'flex-direction'
);
@include generate-breakpoint-utilities(
  variables.$flex-wraps,
  'flex-wrap',
  'flex-wrap'
);
@include generate-breakpoint-utilities(
  variables.$justify-content-positions,
  'justify-content',
  'justify-content'
);
@include generate-breakpoint-utilities(
  variables.$align-items-positions,
  'align-items',
  'align-items'
);

// util for breakpoints
@each $breakpoint, $_ in mediaquery.$breakpoints {
  .#{$breakpoint}\:flex-1 {
    @include mediaquery.mq($breakpoint) {
      flex: 1 !important;
    }
  }

  .#{$breakpoint}\:flex-shrink-0 {
    @include mediaquery.mq($breakpoint) {
      flex-shrink: 0 !important;
    }
  }

  .#{$breakpoint}\:w-100 {
    @include mediaquery.mq($breakpoint) {
      width: 100% !important;
    }
  }

  .#{$breakpoint}\:w-fit-content {
    @include mediaquery.mq($breakpoint) {
      width: fit-content !important;
    }
  }

  .#{$breakpoint}\:h-100 {
    @include mediaquery.mq($breakpoint) {
      height: 100% !important;
    }
  }
}
